.product-card {
  width: var(--card-width);
  min-height: var(--card-max-height);
  border-radius: 8px;
  box-shadow: 2px 3px 4px 4px #eee;

  &:hover {
    transform: scale(1.1);
  }

  .product-image {
    height: var(--card-image-height);
  }
}
