.table {
  td {
    vertical-align: middle;
    font-weight: bold;

    .product-image-container {
      width: 150px;
    }

    &.product-quantity {
      padding-left: 2.5rem;
    }
  }
}

.order-total-container {
  span {
    font-weight: bold;
    font-size: 1.5em;
  }

  button {
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: 1.2em;
  }
}
