.table {
  td {
    vertical-align: middle;
    font-weight: bold;

    .product-image-container {
      width: 150px;
    }
  }
}

.order-total-container {
  span {
    font-weight: bold;
    font-size: 1.5em;
  }

  a {
    font-weight: bold;
    padding: 0.5rem 1rem;
    font-size: 1.2em;
  }
}
