.dropdown {
  width: 60px;
  border-radius: 10px;
  display: flex;

  .dropdown-toggle {
    padding: 0;
    width: 100%;

    img {
      border-radius: inherit;
    }

    .fa-shopping-cart {
      font-size: 1.5em;
      color: var(--secondary-color);
    }

    &::after {
      display: none;
    }
  }

  .dropdown-menu {
    &.selected-products-menu {
      min-width: 505px;

      @media (max-width: 520px) {
        min-width: 400px;
      }
    }

    .signout {
      color: var(--red-color);
    }

    .product-item {
      .product-title {
        white-space: normal;
      }

      .buttons-container {
        .quantity-btn {
          min-width: var(--quantity-btn-width);
        }
      }
    }
  }
}
