.product-image {
  height: var(--product-details-image-height);
}

.product-body {
  max-width: var(--product-details-body-width);

  .product-price {
    color: var(--product-price-color);
  }

  .product-quantity-container {
    .product-quantity,
    .quantity-btn {
      font-size: 1.2em;
    }

    .quantity-btn {
      min-width: 30px;
    }
  }
}
