.quantity-btn {
  min-width: var(--quantity-btn-width);
  font-size: 1.2em;
}

.product-price {
  color: var(--secondary-color);
  font-weight: bold;
}

a {
  color: var(--main-text-color);

  &:hover {
    text-decoration: none;
    color: var(--main-text-color);
  }
}
