:root {
  // Dimensions
  --card-width: 250px;
  --card-height: 100px;
  --card-image-height: 250px;
  --product-details-image-height: 600px;
  --product-details-body-width: 400px;
  --quantity-btn-width: 30px;

  // Colors
  --main-text-color: #222;
  --secondary-color: #e27171;
  --red-color: rgb(235, 78, 78);
  --green-color: rgb(20, 110, 68);
}
